body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #ffffff;
    font-family: sans-serif;
}

button {
    padding: 59px 100px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #000;
    background: #fff;
}

button:active {
    transform: scale(0.95); 
}
